//-
  This file is part of Ezra Project.

  Copyright (C) 2019 Tobias Klein <contact@ezra-project.net>

  Ezra Project is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Ezra Project is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Ezra Project. See the file COPYING.
  If not, see <http://www.gnu.org/licenses/>.
//

each tag in tags
  - var used_in_book_class = (tag.bookAssignmentCount > 0 ? "cb-label-assigned" : "")
  
  - var visible = true
  if current_filter != ''
    - var visible = tags_controller.tag_title_matches_filter(tag.title, current_filter);

  - var visibility = "";
  if !visible
    - visibility = "display: none;"

  div.checkbox-tag(style=visibility)
    div.checkbox-tag-id #{tag.id}
    div.book-assignment-count #{tag.bookAssignmentCount}
    div.global-assignment-count #{tag.globalAssignmentCount}
    - var last_used_timestamp = parseInt(tag.lastUsed);
    div.last-used-timestamp #{last_used_timestamp}
    div(title=delete_tag_label class='tag-delete-button fg-button fg-button-icon-left ui-state-default ui-corner-all')
      span(class='ui-icon ui-icon-closethick tag-delete-icon')
    
    - var tag_counts = tag.globalAssignmentCount
    if current_book != null
      - tag_counts = tag.bookAssignmentCount + " | " + tag.globalAssignmentCount
    
    input(class='tag-cb' type='checkbox' checked=false)
    span(class='cb-label' class=used_in_book_class) #{tag.title}
    span.cb-label-tag-assignment-count (#{tag_counts})
    span.cb-label-postfix
    span.rename-tag-label [#{rename_tag_label}]