//-
  This file is part of Ezra Bible App.

  Copyright (C) 2019 - 2021 Ezra Bible App Development Team <contact@ezrabibleapp.net>

  Ezra Bible App is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 2 of the License, or
  (at your option) any later version.

  Ezra Bible App is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Ezra Bible App. See the file LICENSE.
  If not, see <http://www.gnu.org/licenses/>.
//

each tag in tags
  - var currentStats = null
  - var bookAssignmentCount = 0
  - var globalAssignmentCount = 0

  if tagStatistics != null
    - currentStats = tagStatistics[tag.id]
    - bookAssignmentCount = currentStats.bookAssignmentCount
    - globalAssignmentCount = currentStats.globalAssignmentCount

  - var used_in_book_class = (currentStats != null && currentStats.bookAssignmentCount > 0 ? "cb-label-assigned" : "")
  
  - var visible = true
  if current_filter != ''
    - var visible = tags_controller.tag_list_filter.tagTitleMatchesFilter(tag.title, current_filter);

  - var visibility = "";
  if !visible
    - visibility = "hidden"

  - var last_used_timestamp = parseInt(tag.lastUsed);
  div.checkbox-tag(class=visibility,
                   tag-id=tag.id,
                   book-assignment-count=bookAssignmentCount,
                   global-assignment-count=globalAssignmentCount,
                   last-used-timestamp=last_used_timestamp)

    if currentStats != null
      - var tag_counts = currentStats.globalAssignmentCount
      if current_book != null
        - tag_counts = currentStats.bookAssignmentCount + " | " + currentStats.globalAssignmentCount
    
    - var cb_id = 'tag-' + tag.id
    i(id=cb_id class='fas fa-tag tag-button button-small')

    div(class='cb-input-label-stats')
      span(class='cb-label' class=used_in_book_class) #{tag.title}

      if currentStats != null
        - stats_id = 'cb-label-tag-assignment-count-' + tag.id
        span(class='cb-label-tag-assignment-count' id=stats_id) (#{tag_counts})

      span.cb-label-postfix

    i(i18n='[title]tags.edit-tag', title=edit_tag_label, class='fas fa-pen tag-edit-icon tag-edit-button button-small')
    i(i18n='[title]tags.delete-tag', title=delete_tag_label, class='fas fa-trash-alt tag-delete-icon, tag-delete-button button-small')
