//-
  This file is part of Ezra Bible App.

  Copyright (C) 2019 - 2025 Ezra Bible App Development Team <contact@ezrabibleapp.net>

  Ezra Bible App is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 2 of the License, or
  (at your option) any later version.

  Ezra Bible App is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Ezra Bible App. See the file LICENSE.
  If not, see <http://www.gnu.org/licenses/>.
//

if bookIntroduction != null && bookIntroduction.length > 0
  div(class='book-intro') !{bookIntroduction}

if renderTagNotes
  - var tagIntroNotesClassList = 'tag-intro-notes tag-notes verse-notes ';
  - var tagIntroRaw = ''
  - var tagIntroText = ''
  - var tagNoteId = ''
  - var verseTagKeys = Object.keys(verseTags)
  - var tagIntroUpdated = ''

  if tagNote == null || tagNote.introduction == null
    - tagIntroNotesClassList += ' verse-notes-empty'
  else
    - tagIntroRaw = tagNote.introduction
    if tagNote.introduction != null
      - tagIntroText = helper.renderNotes(tagNote.introduction);
    - tagNoteId = tagNote.id
    - tagIntroUpdated = helper.getLocalizedDate(tagNote.introductionUpdatedAt)
  
  div(class=tagIntroNotesClassList, tag-id=tagId, notes-id=tagNoteId, notes-content=tagIntroRaw)
    div(class='verse-notes-text external') !{tagIntroText}
    div(class='verse-notes-status-bar')
      div(class='verse-notes-buttons')
        a(class='save-note', href='')
          i.fas.fa-save.fa-sm
          span(i18n='general.save') !{i18n.t('general.save')}
        span &nbsp;|&nbsp;
        a(class='cancel-edit', i18n='general.cancel', href='') !{i18n.t('general.cancel')}
        a(class='notes-fullscreen-button', href='')
          i.fas.fa-expand.fa-sm
      div(class='verse-notes-timestamp') !{tagIntroUpdated}

if renderBookNotes
  - var bookNotesClassList = 'book-notes verse-notes ';
  - var firstBibleBookId = bibleBooks[0].shortTitle

  if firstBibleBookId != null
    - var firstVerseReferenceIdClass = 'verse-nr-0 verse-reference-id-' + firstBibleBookId.toLowerCase();
    - bookNotesClassList += firstVerseReferenceIdClass;

  - var bookNotesRaw = ''
  - var bookNotesText = ''
  - var bookNotesUpdate = ''

  if bookNotes == null
    - bookNotesClassList += ' verse-notes-empty'
  else
    if bookNotes != null
      if bookNotes.text != null
        - bookNotesRaw = bookNotes.text
        - bookNotesText = helper.renderNotes(bookNotes.text);
      if bookNotes.updatedAt != null
        - bookNotesUpdate = helper.getLocalizedDate(bookNotes.updatedAt);

  div(class=bookNotesClassList, verse-reference-id=firstBibleBookId.toLowerCase(), notes-content=bookNotesRaw)
    div(class='verse-notes-text external') !{bookNotesText}
    div(class='verse-notes-status-bar')
      div(class='verse-notes-buttons')
        a(class='save-note', href='')
          i.fas.fa-save.fa-sm
          span(i18n='general.save') !{i18n.t('general.save')}
        span &nbsp;|&nbsp;
        a(class='cancel-edit', i18n='general.cancel', href='') !{i18n.t('general.cancel')}
        a(class='notes-fullscreen-button', href='')
          i.fas.fa-expand.fa-sm
      div(class='verse-notes-timestamp') !{bookNotesUpdate}

each bibleBook in bibleBooks
  - var resultCount = 0
  if bibleBookStats != null
    - var resultCount = bibleBookStats[bibleBook.shortTitle]
    if resultCount == 0 || resultCount == undefined
      //- Skip the current book if no verses are available. This could be the case if the selected translation
      //- does not contain some of the verses that should be rendered.
      - continue

  if renderBibleBookHeaders == true
    - var anchor = verseListId + " " + bibleBook.shortTitle;
    a(class='nav', name=anchor)
    - var i18nLongTitle = bookNames[bibleBook.shortTitle];
    
    div.tag-browser-verselist-book-header(bookName=bibleBook.shortTitle) #{i18nLongTitle} (#{resultCount})

  - var verse_count = 0
  - var old_chapter = null;
  if verses1.length > 0 && verses1[0].verseNr != 1
    - old_chapter = verses1[0].chapter

  - var bibleBookId = bibleBook.shortTitle.toLowerCase()
  
  each verse, index in verses1
    unless verse.bibleBookShortTitle.toLowerCase() == bibleBookId
      - continue
    
    if verses2.length > 0
      - var verse2 = verses2[index]

    - verse_count += 1

    - var new_chapter = false
    if verse.chapter != old_chapter
      - new_chapter = true
      - var anchor = verseListId + " " + verse.chapter;
      a(class='nav', name=anchor)
      if renderChapterHeaders == true && chapterText != null
        h2.chapter-header
          span(i18n=chapterText) #{i18n.t(chapterText)}
          | &nbsp;#{verse.chapter}
      
    if verse_count == 1 && renderChapterNavigationLinks == true
      - previous_chapter = verse.chapter - 1
      div.chapter-nav
        - previous_chapter_nav_class = 'chapter-nav'
        if verse.chapter == 1
          - previous_chapter_nav_class = 'chapter-nav disabled'

        a(class=previous_chapter_nav_class, href='javascript:;', chapter=previous_chapter)
          i(class="fa-solid fa-angles-left")

        a(class='chapter-nav-dialog', href='javascript:;')
          span(class='chapter-label-left' style='text-transform: uppercase;', i18n=chapterText) #{i18n.t(chapterText)}
          span(class='chapter-label-right') &nbsp;#{verse.chapter}

        - next_chapter_nav_class = 'chapter-nav'
        if verse.chapter == bookChapterCount
          - next_chapter_nav_class = 'chapter-nav invisible'

        - next_chapter = verse.chapter + 1
        a(class=next_chapter_nav_class, href='javascript:;', chapter=next_chapter)
          i(class="fa-solid fa-angles-right")


    - old_chapter = verse.chapter
    
    - var current_verse_id = bibleBookId + '-' + verse.chapter + '-' + verse.verseNr
    - var current_verse_reference_id = versification + '-' + bibleBookId + '-' + verse.absoluteVerseNr

    - var current_verse_reference_id_class = "verse-reference-id-" + current_verse_reference_id
    - var current_verse_nr_class = "verse-nr-" + verse.absoluteVerseNr
    - var div_classes = "verse-box " + current_verse_reference_id_class + " " + current_verse_nr_class

    if renderVerseMetaInfo == false
      - div_classes += " slim-verse-reference"
    
    - var current_verse_tags = verseTags[current_verse_reference_id]
    - var current_verse_note = verseNotes[current_verse_reference_id]
    - var current_tooltip_tag_list = []
    - var current_tag_info_class = "tag-info"
    - var current_notes_info_class = "notes-info"

    if current_verse_tags != null
      each verseTag in current_verse_tags
        - current_tooltip_tag_list.push(verseTag.tagTitle)
      - current_tag_info_class += ' visible'
    
    if current_verse_note != null && current_verse_note.text != ''
      - current_notes_info_class += ' visible'

    div(class=div_classes,
        verse-reference-id=current_verse_reference_id,
        abs-verse-nr=verse.absoluteVerseNr,
        verse-bible-book-short=verse.bibleBookShortTitle)

      - var verseReference = verse.chapter + referenceSeparator + verse.verseNr;
      - var uniqueVerseReference = verse.chapter + ':' + verse.verseNr;
      - var anchor = verseListId + " " + bibleBook.shortTitle + " " + uniqueVerseReference;
      a(class='nav', name=anchor)

      div.verse-reference
        if renderVerseMetaInfo == true
          div(class=current_notes_info_class, title=helper.getNotesTooltip(current_verse_note && current_verse_note.text), i18n='[title]bible-browser.new-note-hint') 
            i.fas.fa-comment-alt
          div(class=current_tag_info_class, title=current_tooltip_tag_list.join(', '))
            i.fas.fa-tag
          //- div.cr-info C
          div.tag-data
            if current_verse_tags != null
              each verseTag in current_verse_tags
                div(class="tag-global")
                  div.tag-title #{verseTag.tagTitle}
                  div.tag-id #{verseTag.tagId}
        div.verse-reference-content #{verseReference}

      div.verse-content

        div.verse-text-and-tags
          //- FIXME: Check whether this renderVerseMetaInfo option is really used and if not delete it!
          if renderVerseMetaInfo == true
            div.tag-box
              if current_verse_tags != null
                each verseTag in current_verse_tags
                  //- var current_tag_title = verseTag.tagTitle.replace(/ /g, "&nbsp;")
                  - var current_tag_title = verseTag.tagTitle;
                  div.tag(tag-id=verseTag.tagId title=i18n.t('bible-browser.tag-hint'), i18n='[title]bible-browser.tag-hint') !{current_tag_title}

          div.verse-text-container
            if verse2 != null
              //- Do not accept a mapping of a verse to a verse in a different chapter in case of Psalms.
              if bibleBook == 'Ps' && verse.chapter == verse2.chapter 
                div.verse-text.second-bible-text !{verse2.content}
              else if bibleBook != 'Ps'
                div.verse-text.second-bible-text !{verse2.content}
              else
                //- Render an empty div in case the chapter of the second verse does not match.
                //- This could e.g. be the case if the first verse of a psalm maps to the last verse of the previous chapter.
                div.verse-text.second-bible-text
            else
              //- Render an empty div in case the second verse is not available.
              div.verse-text.second-bible-text

            div.verse-text.first-bible-text !{verse.content}

        if current_verse_note != null && current_verse_note.text != null && current_verse_note.text != ''
          - var verseNoteClass = "verse-notes";
          - var verseNoteUpdate = helper.getLocalizedDate(current_verse_note.updatedAt);
          - var verseNoteTextRaw = current_verse_note.text;
          - var verseNoteText = helper.renderNotes(current_verse_note.text);
        else
          - var verseNoteClass = "verse-notes verse-notes-empty";
          - var verseNoteUpdate = "";
          - var verseNoteTextRaw = "";
          - var verseNoteText = "";
        
        div(class='break-flex-row')

        div(class=verseNoteClass, notes-content=verseNoteTextRaw)
          div(class='verse-notes-text external') !{verseNoteText}
          if verseNoteText == ''
            textarea(class='editor', style='display: none; width: 100%; height: 100%;')

          div(class='verse-notes-status-bar')
            div(class='verse-notes-buttons')
              a(class='save-note', href='')
                i.fas.fa-save.fa-sm
                span(i18n='general.save') !{i18n.t('general.save')}
              span &nbsp;|&nbsp;
              a(class='cancel-edit', i18n='general.cancel', href='') !{i18n.t('general.cancel')}
              a(class='notes-fullscreen-button', href='')
                i.fas.fa-expand.fa-sm
            div(class='verse-notes-timestamp') !{verseNoteUpdate}

    if verse_count == verses1.length && renderChapterNavigationLinks == true && verse.chapter < bookChapterCount
      - next_chapter = verse.chapter + 1
      - next_chapter_text = i18n.t('bible-browser.chapter') + ' ' + next_chapter
      div.chapter-nav
        a(class='chapter-nav', href='javascript:;', chapter=next_chapter)
          i(class="fa-solid fa-angles-right")
          span(style='padding-left: 0.5em;') #{next_chapter_text}

  if verse_count == 0 && renderBibleBookHeaders == true
    div.book-section(id=verseListId + "-book-section-" + bibleBook.shortTitle)
      - var loadBookResultFunction = "javascript:app_controller.module_search_controller.loadBookResults('" + bibleBook.shortTitle + "')"
      a.load-book-results(href=loadBookResultFunction, i18n='bible-browser.show-search-results') !{i18n.t('bible-browser.show-search-results')}

if renderTagNotes
  - var tagConclusionNotesClassList = 'tag-conclusion-notes tag-notes verse-notes ';
  - var tagConclusionRaw = ''
  - var tagConclusionText = ''
  - var tagNoteId = ''
  - var tagConclusionUpdated = ''

  if tagNote == null || tagNote.conclusion == null
    - tagConclusionNotesClassList += ' verse-notes-empty'
  else
    - tagConclusionRaw = tagNote.conclusion
    if tagNote.conclusion != null
      - tagConclusionText = helper.renderNotes(tagNote.conclusion);
    - tagNoteId = tagNote.id
    - tagConclusionUpdated = helper.getLocalizedDate(tagNote.conclusionUpdatedAt);
  
  div(class=tagConclusionNotesClassList, tag-id=tagId, notes-id=tagNoteId, notes-content=tagConclusionRaw)
    div(class='verse-notes-text external') !{tagConclusionText}
    div(class='verse-notes-status-bar')
      div(class='verse-notes-buttons')
        a(class='save-note', href='')
          i.fas.fa-save.fa-sm
          span(i18n='general.save') !{i18n.t('general.save')}
        span &nbsp;|&nbsp;
        a(class='cancel-edit', i18n='general.cancel', href='') !{i18n.t('general.cancel')}
        a(class='notes-fullscreen-button', href='')
          i.fas.fa-expand.fa-sm
      div(class='verse-notes-timestamp') !{tagConclusionUpdated}
