//-
  This file is part of Ezra Bible App.

  Copyright (C) 2019 - 2021 Ezra Bible App Development Team <contact@ezrabibleapp.net>

  Ezra Bible App is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 2 of the License, or
  (at your option) any later version.

  Ezra Bible App is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Ezra Bible App. See the file LICENSE.
  If not, see <http://www.gnu.org/licenses/>.
//

if bookIntroduction != null && bookIntroduction.length > 0
  div(class='book-intro') !{bookIntroduction}

if renderBookNotes
  - var firstBibleBookId = bibleBooks[0].shortTitle
  - var firstVerseReferenceIdClass = 'verse-nr-0 verse-reference-id-' + firstBibleBookId.toLowerCase();
  - var bookNotesClassList = 'book-notes verse-notes ' + firstVerseReferenceIdClass;
  - var bookNotesRaw = ''
  - var bookNotesText = ''
  - var bookNotesUpdate = ''

  if bookNotes == null
    - bookNotesClassList += ' verse-notes-empty'
  else
    - bookNotesRaw = bookNotes.text
    - bookNotesText = marked(bookNotes.text);
    - bookNotesUpdate = i18nHelper.getLocalizedDate(bookNotes.updatedAt);

  div(class=bookNotesClassList, verse-reference-id=firstBibleBookId.toLowerCase(), notes-content=bookNotesRaw)
    div(class='verse-notes-text external') !{bookNotesText}
    div(class='verse-notes-status-bar')
      div(class='verse-notes-buttons')
        a(class='save-note', href='')
          i.fas.fa-save.fa-sm 
          | !{saveText}
        span &nbsp;|&nbsp;
        a(class='cancel-edit', href='') !{cancelText}
      div(class='verse-notes-timestamp') !{bookNotesUpdate}

each bibleBook in bibleBooks
  - var resultCount = 0
  if bibleBookStats != null
    - var resultCount = bibleBookStats[bibleBook.shortTitle]
    if resultCount == 0 || resultCount == undefined
      //- Skip the current book if no verses are available. This could be the case if the selected translation
      //- does not contain some of the verses that should be rendered.
      - continue

  if renderBibleBookHeaders == true
    - var anchor = verseListId + " " + bibleBook.shortTitle;
    a(class='nav', name=anchor)
    - var i18nLongTitle = bookNames[bibleBook.shortTitle];
    
    div.tag-browser-verselist-book-header(bookName=bibleBook.shortTitle) #{i18nLongTitle} (#{resultCount})

  - var verse_count = 0
  - var old_chapter = null;
  - var bibleBookId = bibleBook.shortTitle.toLowerCase()
  
  each verse in verses
    unless verse.bibleBookShortTitle.toLowerCase() == bibleBookId
      - continue

    - verse_count += 1

    - var new_chapter = false
    if verse.chapter != old_chapter
      - new_chapter = true
      - var anchor = verseListId + " " + verse.chapter;
      a(class='nav', name=anchor)
      if renderChapterHeaders == true && chapterText != null
        h2(class='chapter-header') #{chapterText} #{verse.chapter}

      - old_chapter = verse.chapter
    
    - var current_verse_id = bibleBookId + '-' + verse.chapter + '-' + verse.verseNr
    - var current_verse_reference_id = versification + '-' + bibleBookId + '-' + verse.absoluteVerseNr

    - var current_verse_reference_id_class = "verse-reference-id-" + current_verse_reference_id
    - var current_verse_nr_class = "verse-nr-" + verse.absoluteVerseNr
    - var div_classes = "verse-box " + current_verse_reference_id_class + " " + current_verse_nr_class

    if renderVerseMetaInfo == false
      - div_classes += " slim-verse-reference"
    
    - var current_verse_tags = verseTags[current_verse_reference_id]
    - var current_verse_note = verseNotes[current_verse_reference_id]
    - var current_tooltip_tag_list = []
    - var current_tag_info_class = "tag-info"
    - var current_notes_info_class = "notes-info"

    if current_verse_tags != null
      each verseTag in current_verse_tags
        - current_tooltip_tag_list.push(verseTag.tagTitle)
      - current_tag_info_class += ' visible'
    
    if current_verse_note != null && current_verse_note.text != ''
      - current_notes_info_class += ' visible'

    div(class=div_classes,
        verse-reference-id=current_verse_reference_id,
        abs-verse-nr=verse.absoluteVerseNr,
        verse-bible-book-short=verse.bibleBookShortTitle)

      - var verseReference = verse.chapter + reference_separator + verse.verseNr;
      - var anchor = verseListId + " " + bibleBook.shortTitle + " " + verseReference;
      a(class='nav', name=anchor)

      div.verse-reference
        if renderVerseMetaInfo == true
          div(class=current_notes_info_class, title=notesHelper.getTooltipText(current_verse_note && current_verse_note.text)) 
            i.fas.fa-comment-alt
          div(class=current_tag_info_class, title=current_tooltip_tag_list.join(', '))
            i.fas.fa-tag
          //- div.cr-info C
          div.tag-data
            if current_verse_tags != null
              each verseTag in current_verse_tags
                div(class="tag-global")
                  div.tag-title #{verseTag.tagTitle}
                  div.tag-id #{verseTag.tagId}
        div.verse-reference-content #{verseReference}

      div.verse-content

        div.verse-text-and-tags
          //- FIXME: Check whether this renderVerseMetaInfo option is really used and if not delete it!
          if renderVerseMetaInfo == true
            div.tag-box
              if current_verse_tags != null
                each verseTag in current_verse_tags
                  //- var current_tag_title = verseTag.tagTitle.replace(/ /g, "&nbsp;")
                  - var current_tag_title = verseTag.tagTitle
                  div.tag(title=tagHint) !{current_tag_title}
                  
          div.verse-text !{verse.content}

        if current_verse_note != null && current_verse_note.text != null && current_verse_note.text != ''
          - var verseNoteClass = "verse-notes";
          - var verseNoteUpdate = i18nHelper.getLocalizedDate(current_verse_note.updatedAt);
          - var verseNoteTextRaw = current_verse_note.text;
          - var verseNoteText = marked(current_verse_note.text);
        else
          - var verseNoteClass = "verse-notes verse-notes-empty";
          - var verseNoteUpdate = "";
          - var verseNoteTextRaw = "";
          - var verseNoteText = "";

        div(class=verseNoteClass, notes-content=verseNoteTextRaw)
          div(class='verse-notes-text external') !{verseNoteText}
          if verseNoteText == ''
            textarea(class='editor', style='display: none; width: 100%; height: 100%;')

          div(class='verse-notes-status-bar')
            div(class='verse-notes-buttons')
              a(class='save-note', href='') 
                i.fas.fa-save.fa-sm 
                | !{saveText}
              span &nbsp;|&nbsp;
              a(class='cancel-edit', href='') !{cancelText}
            div(class='verse-notes-timestamp') !{verseNoteUpdate}

  if verse_count == 0 && renderBibleBookHeaders == true
    div.book-section(id=verseListId + "-book-section-" + bibleBook.shortTitle)
      - var loadBookResultFunction = "javascript:app_controller.module_search_controller.loadBookResults('" + bibleBook.shortTitle + "')"
      a.load-book-results(href=loadBookResultFunction) !{loadSearchResultsText}
